

//import variables
@import "variables";

//import Standart
@import "standart";


@import "colors";

.text-center{
  text-align: center;
  font-size: 40px;
}
#principal{
  background-color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 15px;
}

#request{
  
  .card{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3)!important;
    
  }
  .c-body{
    padding-bottom: 0!important;
    }
  
  .line{border-bottom: 1px solid #ffc107;}
  .line-white{}
    .preview-title{
      background-color: #ffc107;
    }
  
}